/NiTE2/
/OpenNI2/
/NiTE2.jni.dll
/OpenNI2.jni.pdb
/NiTE2.pdb
/NiTE2.jni.pdb
/BuildJavaWindows.py
/Build.bat
/OpenNI2.dll
/NiTE.ini
/OpenNI2.jni.dll
/OpenNI.ini
/NiTE2.dll
/OpenNI2.pdb
/com.primesense.nite.jar
/org.openni.jar